# Telegram Bot Credentials
BOT_TOKEN="your_telegram_bot_token_from_botfather"
ADMIN_ID=12345-----
GROUP_ID=-100123---
MYSQL_HOST="mysql-xxxx-your-project.aivencloud.com"
MYSQL_PORT=12345
MYSQL_USER="avnadmin"
MYSQL_PASSWORD="your_aiven_mysql_password"
MYSQL_DATABASE="defaultdb"
MYSQL_SSL_MODE="REQUIRED"

